* {
	box-sizing: border-box;
	font-family: Verdana, sans;
}

body {
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
}

/*
header {
	display: block;
	position: fixed;
	top: 30px;
	margin: 0 auto;
	background-color: #000000;
	border-bottom-style: solid 3px gray;
}

main {
	position: relative;
	top: 200px;
	z-index: -1;
}
*/

h1 {
	margin: 30px;
	font-weight: normal;
	font-size: 50px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
}

p {
	font-size: 21px;
	color: gray;
}

a {
	color: aquamarine;
	font-size: 16px;
}

img {
	margin: 20px;
}

#footer {
	color: gray;
	text-align: right;
}